page-login {
  /*background*/
  ion-content {
    background: url('../assets/icons/bg-circles.png');
    background-size: 100% 50%;
    background-repeat: no-repeat;

    background-color: white !important;
    color: gray;
  }

  ion-content .scroll-content {
    padding: 10% auto !important;
  }

  .form-block {
    padding: 15% 0;
  }

  img.logo {
    margin: 0px auto 0px auto;
    width: 70vw;
    display: block;

  }

  form {
    margin-top: 15px;
  }

  form ion-item {
    background-color: white !important;
    ion-label{
      color: #000 !important;
      font-size: 1.6rem !important;
    }
  }
  /* inputs */
  ion-item.item {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 4px;
  }

  div.item-inner {
    border: 0 solid #313131;
    //border-radius: 10px;
  }
  form
  input.text-input {
    color: #000;
    font-size: 1.8rem !important;
  }

  button.login {
    background-color: orange !important;
    border-radius: 30px;
    margin-top: 30px !important;
    width: 70%;
    margin: 0 auto;
  }
  //           FOOTER
  ion-footer:before {
    background-image: none !important;
  }

  ion-footer {
    color: black;
    text-align: center;
    margin-bottom: 15px;
    line-height: 30px;
  }

  a.link {
    margin: 0 5px;
  }

  a.recovery.link {
    color: black;
  }

  .signup .link {
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  /* errors */
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  ion-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  ion-card button{
    margin: 0 !important;
    box-shadow: none !important;
  }
  h1{
    font-weight: bold !important;
    padding-left: 4px;
  }
  ion-input{
    border: 1px solid #7f7f7f;
    border-radius: 8px;
    padding: 5px;
  }
  ion-item ion-label{
    font-weight: bold;
    color: #000 !important;
  }

}
