<ion-content class="no-scroll" no-padding>
  <div class="form-block">
    <img class="logo" src="assets/icons/icon-gray.png" alt="">
    <ion-card>
      <ion-card-content>
        <h1>Iniciar Sesión</h1>
        <form [formGroup]="myForm" autocomplete="off" novalidate>
            <ion-item>
              <ion-label stacked>Correo Electronico</ion-label>
              <ion-input type="email" placeholder="Correo electrónico" formControlName="email"></ion-input>
            </ion-item>
          <!--
            <ion-item>
              <ion-label stacked>Contraseña</ion-label>
              <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
            </ion-item>
          -->
        </form>

          <div *ngIf="!myForm.valid && myForm.controls['email'].touched" class="alert alert-danger">
            <span *ngIf="myForm.controls['email'].hasError('required')">Usuario obligatorio. </span>
            <span *ngIf="myForm.controls['email'].hasError('invalidEmailAddress')">Usuario inválido. </span>
          <!--
            <span *ngIf="myForm.controls['password'].hasError('invalidPassword')">Contraseña desde 6 caracteres. </span>
          -->
        </div>
          <!--
          <div class="signup" text-center margin-vertical>¿No puedes acceder? <a class="link" href="#" (click)="goToRecovery()">Recupera tu contraseña.</a></div>
          -->
      </ion-card-content>
      <button ion-button full large color="primary" (click)="login()">Entrar</button>
      <!--
      <button ion-button full large color="dark" (click)="goToSignUp()">Crear Cuenta</button>        
      -->
    </ion-card>

    <!-- <button class="login" ion-button block (click)="login()">Iniciar sesión</button> -->
  </div>
</ion-content>
