<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="getPersons()">
    Get persons
  </button>

  <button ion-button full (click)="local()">
    Evaluate local persons
  </button>
  <!--
  <button ion-button full (click)="filter()">
    Filter
  </button>
  -->
  <button ion-button full (click)="sendResults()">
    Send results
  </button>
  <hr>

  <ion-card *ngFor="let person of personsShow">

    <ion-item>
      <h2>{{person?.name}}</h2>
      <p>{{person?.personId}}</p>
    </ion-item>


    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <div>{{person?.age}} years</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>




</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <div>Age: {{json?.age}}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <div>Payload: {{json?.payload}}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note *ngIf="nPersons?.length">
        {{nPersons}} persons
      </ion-note>
      <ion-note *ngIf="personsShow?.length">
        {{personsShow?.length}} of {{nPersons}} persons
      </ion-note>
    </ion-col>
  </ion-row>


</ion-toolbar>

</ion-footer>
