<!--
  Generated template for the ResultModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ResultModal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="!error">
    <ion-item>
      <h2 text-wrap>{{message}}</h2>
    </ion-item>

    <ion-card-content>
      <p>{{next_steps}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="error">
    <ion-card-content>
      <p>{{error?.error}}</p>
    </ion-card-content>
  </ion-card>


  <button ion-button full (click)="dismiss()">Accept</button>



</ion-content>
